dist: xenial
language: python

before_install:
  - sudo apt-get update

python:
  - "3.6"

install:
  - pip install -r requirements.txt


env:
  - export CODACY_PROJECT_TOKEN=df8b7686f6d24f9787c4862b791a2fb8

script: bash .testcov